section{
    height: 500px;
}
.header{
    background-image: url(../../bgimage/bannerbackground.png);
    background-repeat: no-repeat; 
   
    background-size: 110%;
    text-align: center;
    background-position: center;
   
   
}
.input-group{
 margin-top: 400px;
}

.body{
    margin: 0;
}
